@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* background-image: url('images/city.jpg'); */
  background-size: cover;
  background-position: center;
  background-color: #0c0c0c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}


/* /////////////////////////////////// tạo khung chào */
#welcome-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.welcome-content {
  background: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

#welcome-btn {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: #101010;
  color: rgb(255, 254, 254);
  font-size: 16px;
  
  cursor: pointer;
}

#welcome-btn:hover {
  background: rgb(200, 200, 200);
  color: black;
}

#backgroundContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

#effectCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* ////////////////////////////////////////////// */


.music-container {
  background-color: #a097f3;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(103, 166, 250, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color:  #a097f3;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 10s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color:  #a097f3;
  border: 0;
  color: #19191a;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #19191a;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(112, 107, 107, 0.6);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #2c2c2c;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #83afb9;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

#effectCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Đảm bảo không ảnh hưởng đến tương tác người dùng */
}

/* ////////////////////// Gõ chữ */
#typing-message {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: clamp(14px, 4vw, 16px);
  font-family: monospace;
  white-space: normal;
  overflow: hidden;
  border-right: 2px solid white;
  padding-right: 5px;
  max-width: 90%;
  text-align: center;
  word-wrap: break-word;
}

.hidden {
  display: none;
}

/* ///////////////////////////////// */